<%= form_with(model: snippet, local: true) do |form| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
        <% snippet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :trigger %>
    <%= form.text_field :trigger, size: "25x1" %>
  </div>

  <div class="field">
    <%= form.label :replacement %>
    <%= form.text_area :replacement, size: "35x7" %>
  </div>

  <div class="field">
    <%= form.label "Is it a form?" %>
    <%= form.check_box :is_form %>
  </div>

  <div class="field">
    <%= form.label "Is it public?" %>
    <%= form.check_box :is_public %>
  </div>

  <div class="field">
    <%= form.label :tags%>
    <%= form.collection_select :tag, Tag.all, :id, :slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
