<p id="notice"><%= notice %></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script type='text/javascript'>
  new ClipboardJS('.snippetid')
</script>
<p id="notice"><%= notice %></p>
  <div class='ui grid'>

      <div class='four wide column'>
        <%= render "layouts/sidenav"%>
        <%= render "layouts/signin"%>
      </div>


      </div>
                      <div class='twelve wide column'>
        <div class="ui fluid raised card">
          <table class='ui striped table'>
  <thead>
  <h1>Snippets</h1>
    <tr>
      <th>Trigger</th>
      <th>Replacement</th>
      <th>ID (Click to Copy)</th>
      <th>Is Form</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.trigger %></td>
        <td><%= snippet.replacement %></td>
        <td><input class='ui input' id='snippetid' placeholder='<%= snippet.id %>'</input><button data-clipboard-target='snippetid'class='ui secondary button'>Copy ID</button></td>
        <td><%= snippet.is_form %></td>
        <td><%= snippet.tags %></td>
        <td><%= link_to 'See Details', snippet %></td>
      </tr>
    <% end %>
  </tbody>
</table>
        </div>
      </div>
    </div>
  </div>