<p id="notice"><%= notice %></p>
  <div class='ui grid'>

      <div class='four wide column'>
        <%= render "layouts/sidenav"%>
        <%= render "layouts/signin"%>
      </div>


      </div>
                      <div class='twelve wide column'>
        <div class="ui fluid raised card">
          <div class="content">
          <%= render 'form', snippet: @snippet %>
            <%= link_to 'Back', snippets_path %>
          </div>
        </div>
      </div>
    </div>
  </div>