<p id="notice"><%= notice %></p>
  <div class='ui grid'>

      <div class='four wide column'>
        <%= render "layouts/sidenav"%>
        <%= render "layouts/signin"%>
      </div>


      </div>
                      <div class='twelve wide column'>
        <div class="ui fluid raised card">
          <div class="content">

            <div class="ui list">
              <div class="item">
                <div class="content">
                  <h2>Trigger:</h2><br>
                  <h1>:<%= @snippet.trigger %></h1>
                </div>
              </div>
              <div class="ui horizontal divider"></div>
              <div class="item">
                <div class="content">
                  <p>Replaced with:</p> 
                  <h2><%= @snippet.replacement %></h2>
                </div>
              </div>
              <div class="ui horizontal divider"></div>
              <div class="item">
                <div class="content">
                <p>Is it a form?</p><h2>
                <%= @snippet.is_form %></h2>
                </div>
              </div>
              <div class="ui horizontal divider"></div>
              <div class="item">
                <div class="content">
                <p>Is it public?</p>
                <div class="ui horizontal divider"></div>
                <h2><%= @snippet.is_public %></h2>
                </div>
              </div>
              <div class="ui horizontal divider"></div>
              <div class="item">
                <div class="content">
                 <p>Tags: <div class="ui horizontal divider"></div>
                 <% if @tags != nil %>  
                   <% @tags.each do |tag| %>
                   <%= tag.slug %>
                 <% end %>
                 <%else %>
                  <em><p>No tags for this snippet.</p></em>
                <% end %>
                 </p>
                </div>
              </div>
            </div>
          <%= link_to 'Edit', edit_snippet_path(@snippet) %> |
            <%= link_to 'Back', snippets_path %>
          </div>
        </div>
      </div>
    </div>
  </div>