<p id="notice"><%= notice %></p>
<%=react_component("Snippet",{trigger:"hi",replacement:"how are you"}) %>
<em>REACT COMPONENT RENDERED ABOVE</em>
<br>
<br>
<p>
  <strong>Trigger:</strong>
  <%= @snippet.trigger %>
</p>

<p>
  <strong>Replacement:</strong>
  <%= @snippet.replacement %>
</p>

<p>
  <strong>Type:</strong>
  <%= @snippet.is_form %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @snippet.is_public %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @snippet.tags %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
