<p id="notice"><%= notice %></p>
  <div class='ui grid'>

      <div class='four wide column'>
        <%= render "layouts/sidenav"%>
        <%= render "layouts/signin"%>
      </div>


      </div>
                      <div class='twelve wide column'>
        <div class="ui fluid raised card">
          <div class="content">

            <div class="ui list">
              <div class="item">
                <div class="content">
                  <p>Trigger: <div class="ui horizontal divider"></div><%= @snippet.trigger %></p>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <p>Replaced with: 
                  <div class="ui horizontal divider"></div>
                  <%= @snippet.replacement %></p>
                </div>
              </div>
              <div class="item">
                <div class="content">
                <p>Is it a form?
                <div class="ui horizontal divider"></div>
                <%= @snippet.is_form %></p>
                </div>
              </div>
              <div class="item">
                <div class="content">
                <p>Is it public?
                <div class="ui horizontal divider"></div>
                <%= @snippet.is_public %></p>
                </div>
              </div>
              <div class="item">
                <div class="content">
                 <p>Tags: <div class="ui horizontal divider"></div><%= @snippet.tags %></p>
                </div>
              </div>
            </div>
          <%= link_to 'Edit', edit_snippet_path(@snippet) %> |
            <%= link_to 'Back', snippets_path %>
          </div>
        </div>
      </div>
    </div>
  </div>